.agreement-page {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}

.agreement-page__article-header {
    display: flex;
}

.agreement-page__article-header__title {
    text-align: center;
    width: 100%;
}