.pager {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;

    list-style: none;
}

.pager__page-link {
    display: block;
    width: 40px;
    height: 40px;

    margin: .5em;

    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    line-height: 2.3rem;

    border: 2px solid transparent;
    border-radius: 50%;
}

.pager__page-link:hover {
    border: 2px solid #dee3e7;
    cursor: pointer;
}

.pager__page-link--active {
    color: #fff !important;
    background-color: #65abd0 !important;
    border: 2px solid #65abd0 !important;
    cursor: default !important;
}
