.promotion-categories-list {
    width: 200px;
    padding: 0 1em;
}

.promotion-categories__section {
    padding-bottom: 2em;
}

.promotion-categories__type-label {
    font-size: .9rem;
    font-weight: 400;
    line-height: 2;

    padding: 0 1em;

    color: #757a7f;
}

.promotion-categories__category-label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;

    white-space: nowrap;

    padding: 0 1em;

    color: #373737;

    cursor: pointer;
}

.promotion-categories__category-label--active {
    color: #fff;
    border-radius: 6px;
    background-color: #67abce;

    cursor: default;
}
