.login__container {
    background-image: url('./loginBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;

    padding-top: 170px;
}

.login__content-container {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(242, 245, 247, .9);

    padding: 2em;
    border-radius: 6px;
}

.login__title {
    max-width: 455px;
    text-align: center;
}

.login__distance {
    width: 100px;
    height: 100px;
    background-image: url('./progress.svg');

    margin-bottom: 1em;
}

.login__login-form {
    text-align: center;
}

.login__form-field {
    margin-bottom: 1em;
}

.login__distance-text {
    font-size: 1.5rem;
    line-height: 1;
    color: #373737;
    font-weight: bold;
    text-align: center;

    padding-top: 1.3em;
}

.login__login-request {
    padding-top: 1em;
}

.login__links-container {
    display: flex;
    flex-direction: column;
}

.login__link {
    white-space: nowrap;
    padding-bottom: .5em;
}

@media (min-width: 992px) {
    .login__container {
        height: 720px;
        margin-bottom: 5em;
    }

    .login__content-container {
        max-width: 660px;
    }

    .login__links-container {
        flex-direction: row;
        justify-content: space-around;
    }
}
