.child-details__container {
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: #f1f5f7;

    margin-bottom: 4em;
}

.child-details__card-image {
    padding-bottom: 1em;

    width: 100%;
    height: auto;
}

.child-details__content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2em 2em 0 2em;
}

.child-details__button {
    height: 48px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;

    border: 1px solid #67abce;

    color: #67abce;
    text-align: center;

    font-size: 1rem;
    line-height: 2.9rem;

    cursor: pointer;

    margin: 1em 0;
}

@media (min-width: 992px) {
    .child-details__container {
        flex-direction: row;
    }

    .child-details__image-container {
        width: 350px;
        flex-shrink: 0;
    }

    .child-details__card-image {
        padding-right: 2em;
        padding-bottom: 0;
    }

    .child-details__button {
        width: 340px;
    }
}
