.promotional-codes-list__promotion--available {
    color: #2ea998;
}

.promotional-codes-list__promotion--used {
    color: #ffc107;
}

.promotional-codes-list__promotion--overdue {
    color: #dc3545;
}

.promotional-codes-list__question {
    padding-left: .5em;
    color: #4b4b4b;
    font-size: 1.4rem;
    font-weight: 700;

    cursor: pointer;
}

.promotional-codes-list__promotional-code-popover-body {
    background-color: rgba(55, 55, 55, .7);
    color: #fff;
}

.promotional-codes-list__promotional-code-popover-body h3 {
    color: #fff;
}

.promotional-codes-list__button {
    width: 230px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #d8c171;
    color: #d8c171;

    margin: 1em 0;
}

.promotional-codes-list__button:hover {
    color: #d8c171;
}
