.about-project__article {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

    margin-bottom: 2em;
    padding: 2em 3em;

    background-color: #f2f5f7;
}

.about-project__header {
    display: flex;
    flex-direction: row;

    align-items: baseline;
    justify-content: space-between;
    padding-bottom: .5em;
}

.about-project__container {
    display: flex;
    flex-direction: column;
}

.about-project__image-container {
    padding-bottom: 1em;
}

.about-project__image {
    width: 100%;
    height: auto;
    border-radius: 5px;

    margin-bottom: .8em;
}

.about-project__more-info-button {
    border: 1px solid #c6ccd1;
    border-radius: 5px;

    padding: 0;
    width: 165px;
    cursor: pointer;

    font-size: .9rem;
    line-height: 2.5;
    color: #373737;
    text-align: center;
}

.about-project__more-info-button:hover {
    text-decoration: none;
}

@media (min-width: 992px) {
    .about-project__container {
        flex-direction: row;
    }

    .about-project__article {
        border-radius: 6px;
    }

    .about-project__image-container {
        padding-right: 2em;
        padding-bottom: 0;


        flex-shrink: 0;
    }
}
