.about-page {
    display: flex;
    flex-direction: column;
}

.about-page__article {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
    margin-bottom: 2em;
    padding: 2em 3em;

    background-color: #f2f5f7;
}

.about-page__container {
    display: flex;
    flex-direction: column;
}

.about-page__image-container {
    padding-bottom: 1em;
}

.about-page__image {
    width: 100%;
    border-radius: 5px;

    margin-bottom: .8em;
}

@media (min-width: 992px) {
    .about-page__container {
        flex-direction: row;
    }

    .about-page__article {
        border-radius: 6px;
    }

    .about-page__image-container {
        padding-right: 2em;
        padding-bottom: 0;
    }

    .about-page__image {
        width: auto;
    }
}
