<h2>Ура-ура!</h2>

<p>
    Создатель «Километров добра» Дмитрий Кухтин много лет помогал семьям, воспитывающим особенных детей, перемещаться по Минску и за его пределы. Сам, на своей машине, бесплатно. Он намотал тысячи «километров добра», но удовлетворения не было: один человек не может помочь всем.
</p>
<p>
    Так возникла идея «Километров добра». Уникального сервиса, где каждый может стать благотворителем, где каждый ребенок с особенностями может перемещаться туда, куда хочет, и в удобное время. Дмитрий собрал команду, готовую воплотить проект в жизнь. И вот до старта осталось совсем немного.
</p>
<img src="photo.jpg" class="full" />
<p>
    Создатель «Километров добра» Дмитрий Кухтин много лет помогал семьям, воспитывающим особенных детей, перемещаться по Минску и за его пределы. Сам, на своей машине, бесплатно. Он намотал тысячи «километров добра», но удовлетворения не было: один человек не может помочь всем.
</p>
<p>
    Так возникла идея «Километров добра». Уникального сервиса, где каждый может стать благотворителем, где каждый ребенок с особенностями может перемещаться туда, куда хочет, и в удобное время. Дмитрий собрал команду, готовую воплотить проект в жизнь. И вот до старта осталось совсем немного.
</p>
