/* Make footer sticky.
   i.e. the main content div will take all the screen height except for the footer height.
*/
@media (min-width: 992px) {
    .content {
        min-height: calc(100vh - 198px);
    }
}
