.h1-text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;

    padding-bottom: 1.5rem;

    /* move to global */
    color: #373737;
}

.h2-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;

    padding-bottom: 1rem;

    /* move to global */
    color: #373737;
}

.h3-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;

    padding-bottom: 1rem;

    /* move to global */
    color: #373737;
}

.p-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    /* move to global */
    color: #757a7f;
}

.a-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;

    /* move to global */
    color: #0e4681;
    text-decoration: underline;
}
