.contact-us-form {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
    margin-bottom: 2em;
    padding: 2em 3em;

    background-color: #f2f5f7;
}

@media (min-width: 992px) {
    .contact-us-form {
        width: 60%;
        border-radius: 6px;
    }
}

.contact-us-form__field {
    margin-bottom: 1em;
}

@media (min-width: 992px) {
    .contact-us-form__column--first {
        margin-right: 2em;
    }
}
