.reports-list__cards-container {
    display: flex;
    flex-direction: column;
}

.reports-list__card {
    width: 140px;

    padding: 1em;
    text-align: center;

    cursor: pointer;
}

.reports-list__card-image {
    position: relative;

    width: 140px;
    height: 140px;
    border-radius: 4px;
    background-color: #f1f5f7;
}

.reports-list__word {
    position: relative;
    top: 50px;
    margin: 0 auto;
}

.reports-list__arrow-container {
    position: absolute;
    bottom: 5px;
    right: 5px;

    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: #81b9d5;

    padding: .1em;
}

@media (min-width: 992px) {
    .reports-list__cards-container {
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-between;
    }

    .reports-list__cards {
        flex: 1 0 140px;
        box-sizing: border-box;

        margin-right: .1em;
    }

    .reports-list div:empty {
        height: 0;
        border: 0;
    }
}
