.payment-form {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
    margin-bottom: 2em;
    padding: 2em 2em;

    background-color: #f2f5f7;
}

.payment-form__container {
    display: flex;
    flex-direction: column;
}

.payment-form__login-request {
    text-align: center;
}

.payment-form__login-request > div {
    padding-bottom: .5em;
}

.payment-form__dropdown, .payment-form__dropdown:hover {
    background-color: #d8c171 !important;
}

.payment-form__dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.payment-form__dropdown-menu-item {
    background-color: #b6a362 !important;
    color: #fff;
}

.payment-form__dropdown-menu-item:hover {
    background-color: #d8c171 !important;
    color: #fff;
}

.payment-form__container input {
    max-width: 325px;
}

.payment-form__comment {
    font-size: .9rem;
    color: #888d92;

    padding-top: .4em;
}

.payment-form__comment p {
    margin: 0;
    max-width: 325px;
}

@media (min-width: 992px) {
    .payment-form {
        width: 80%;
        border-radius: 6px;
    }

    .payment-form__container {
        flex-direction: row;
    }

    .payment-form__container > div:first-child {
        width: 350px;
        padding-right: 2em;
    }

}
