.forgot-password {
    text-align: right;
}


.login-dropdown > .btn-link {
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}
.login-dropdown > .btn-link:hover,
.login-dropdown.menu-popover-open > .btn-link {
    color: #3366ff;
}
.login-dropdown {
    position: relative;
    height: 64px;
}
.user-icon-menu.desktop {
    min-width: 150px;
    padding-bottom: 10px;
    background-color: #f2f5f8;
    border: 1px solid #c6ccd2;
}

.registration-popup form {
    text-align: left;
}

.popover.bs-popover-bottom.user-icon-menu {
    margin-top: 0;
}

.user-icon-menu .popover-body {
    padding: 0;
}

.user-icon-menu .arrow {
    display: none;
}

.user-icon-menu.desktop .dropdown-content .btn-link,
.user-icon-menu.desktop .dropdown-content a {
    display: block;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.user-icon-menu.desktop .dropdown-content .btn-link:hover,
.user-icon-menu.desktop .dropdown-content a:hover {
    background-color: #e3e9ef;
    color: #3366ff;
}

.user-icon-menu.desktop .dropdown-content .icon {
    text-align: center;
}

.user-icon-menu.mobile {
    display: none;
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    background-color: #f2f5f8;
}

.user-icon-menu.mobile .dropdown-content .btn-link,
.user-icon-menu.mobile .dropdown-content a {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #dae3ec;
    font-weight: 700;
    color: #333;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.mobile-menu-close {
    padding: 10px;
}
.mobile-menu-close:hover span {
    background-color: #3366ff;
}
.mobile-menu-close span {
    display: block;
    position: relative;
    margin-bottom: 3px;
    width: 25px;
    height: 3px;
    background-color: #333;
}
.mobile-menu-close:first-child span,
.mobile-menu-close:last-child span {
    top: 0;
    -webkit-transition: top 0.3s 0.3s, transform 0.3s 0s, background-color 0.3s;
    -moz-transition: top 0.3s 0.3s, transform 0.3s 0s, background-color 0.3s;
    transition: top 0.3s 0.3s, transform 0.3s 0s, background-color 0.3s;
}
.mobile-menu-close span:last-child {
    margin-bottom: 0;
}
.mobile-menu-close span:nth-child(2) {
    opacity: 1;
    -webkit-transition: opacity 0s 0.3s, background-color 0.3s;
    -moz-transition: opacity 0s 0.3s, background-color 0.3s;
    transition: opacity 0s 0.3s, background-color 0.3s;
}
.mobile-menu-open span:first-child {
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top 0.3s 0s, transform 0.3s 0.3s;
    -moz-transition: top 0.3s 0s, transform 0.3s 0.3s;
    transition: top 0.3s 0s, transform 0.3s 0.3s;
}
.mobile-menu-open span:last-child {
    top: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 0.3s 0s, transform 0.3s 0.3s;
    -moz-transition: top 0.3s 0s, transform 0.3s 0.3s;
    transition: top 0.3s 0s, transform 0.3s 0.3s;
}
.mobile-menu-open span:nth-child(2) {
    opacity: 0;
    -webkit-transition: opacity 0s 0.3s;
    -moz-transition: opacity 0s 0.3s;
    transition: opacity 0s 0.3s;
}


/*

.mobile-wrap {
    position: absolute;
    top: 83px;
    left: 0;
    right: 0;
    background-color: #f2f5f8;
}
.mobile-wrap .btn-link {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #dae3ec;
    font-weight: 700;
    color: #333;
    text-align: left;
    text-decoration: none;
}
.mobile-wrap li:last-child .btn-link {
    border-bottom: 1px solid #dae3ec;
}
.mobile-wrap .active,
.mobile-wrap .btn-link:hover {
    background-color: #e3e9ef;
    color: #3366ff;
}

*/
