.posts-list {
    display: flex;
    flex-direction: column;

    padding: 2em 1em 0 1em;

    width: 100%;
    max-width: 992px;

    margin: 0 auto;
}

.post-card {
    padding-bottom: 2.5em;
}

.post-card__image-container {
    max-width: 500px;
}

.post-card__image {
    width: 100%;
    height: auto;
}

.post-card__content-container {
    max-width: 500px;
}

.post-card__title {
    padding-top: .6em;
    padding-bottom: .2em;
}

.post-card__description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #373737;

    padding-bottom: .3em;
}

.post-card__read-more {
    text-align: right;
}

@media (min-width: 992px) {
    .posts-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .post-card {
        flex: 1 0 1000px;
        box-sizing: border-box;
        max-width: calc(50% - 1em);

        padding-right: 2em;
    }
}
