.page-footer {
    width: 100%;

    background-color: #f2f5f7;
    padding: 2em;
}

.page-footer__content {
    display: flex;
    flex-direction: column;

    max-width: 992px;
    margin: 0 auto;
}

.page-footer__links-container {
    margin: 0 auto;
}

.page-footer__links {
    list-style: none;
    text-align: center;
}

.page-footer__links--social {
    display: flex;
    flex-direction: row;
}

.page-footer__link {
    font-size: 1rem;
    color: #373737;
    text-decoration: none;

    padding-right: .8em;
}

.page-footer__link:hover {
    color: #0e4681;
    text-decoration: underline;
}

.page-footer__link--social {
    font-size: 1.5rem;
}

.page-footer__link--text:hover {
    color: #373737;
    text-decoration: none;
}

.page-footer__link--contact {
    color: #757a7f;
}

.page-footer__payment-methods {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-footer__payment-methods img {
    max-width: 100%;
}

.payment-form__no-refund {
    font-style: italic;
}

.page-footer__hosting {
    margin-top: 12px;
    text-align: center;
}

@media (min-width: 992px) {
    .page-footer {
        padding-top: 4em;
    }

    .page-footer__content {
        display: flex;
        flex-direction: row;

        align-items: center;
    }

    .page-footer__links {
        text-align: left;
    }

    .page-footer__links--menu {
        display: flex;
        flex-direction: row;
    }
}
