.children-list {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
}

.children-list__header {
    text-align: center;
}

.children-list__cards-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .children-list__cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.children-list__card {
    display: flex;
    flex-direction: column;

    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;

    cursor: pointer;
}

.children-list__card-image-container {
    padding-bottom: .5em;
}

.children-list__card-image {
    width: 220px;
    height: 168px;

    border-radius: 6px;
}

.children-list__card-name {
    font-size: 1rem;
    line-height: 1.4;
    color: #373737;

    padding-bottom: .5em;
}

.children-list__card-description {
    font-size: 1rem;
    line-height: 1.2;
    color: #757a7f;

    padding-bottom: .5em;
}

@media (min-width: 992px) {
    .children-list__card {
        flex: 1 0 1000px;
        box-sizing: border-box;
        max-width: calc(50% - 1em);

        margin: 1rem .25em;
    }

    .children-list__card {
        flex-direction: row;
    }

    .children-list__card-link {
        display: flex;
        flex-direction: row;
    }

    .children-list__card-image-container {
        padding-right: 1em;
        padding-bottom: 0;
    }

    .children-list__card-name {
        height: 48px;
        padding-bottom: 0;
    }

    .children-list__card-description {
        height: 80px;
    }

    .children-list__card-description p {
        position: relative;
        overflow: hidden;

        height: 3.6em;
    }

    .children-list__card-description p:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }
}
