.partners-list {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

    padding-top: 2em;

    display: flex;
    flex-direction: column;

    background-color: #FFF;
}

.partners-list__header {
    text-align: center;
}

/*
    Partners List
*/

.partners-list__cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 576px) {
    .partners-list__cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.partners-list__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem .25em;
}

@media (min-width: 992px) {
    .partners-list__card {
        flex: 1 0 500px;
        box-sizing: border-box;
        max-width: calc(25% - 1em);
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .partners-list__card {
        flex: 1 0 500px;
        box-sizing: border-box;
        max-width: calc(50% - 1em);
    }
}

.partners-list__card-link {
    text-decoration: none;
    border: 1px solid transparent;
}

.partners-list__card-link:hover {
    text-decoration: none;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
}

.partners-list__image-container {
    width: 220px;
    height: 220px;

    border-radius: 6px;
    background-color: #f1f5f7;
    border: 2px solid #f1f5f7;
}

.partners-list__card-image {
    width: 100%;
}

.partners-list__content-container {
    width: 220px;

    margin-top: -10px;
    padding-bottom: 1em;
    text-align: center;

    border-radius: 6px;
    background-color: #f1f5f7;
    border: 2px solid #f1f5f7;
}

.partners-list__card-name {
    font-size: 1rem;
    line-height: 1.4;
    color: #373737;

    padding-bottom: .5em;
}

.partners-list__card-role {
    font-size: 1rem;
    line-height: 1.2;
    color: #757a7f;
}
