.profile .title-container {
    text-align: center;
    padding-top: 165px;
    font-size: 30px;
    position: relative;
    height: 250px;
    background: #b8dae1;
    background: -webkit-linear-gradient(135deg, #b8dae1, #ebf0eb, #fcfaee);
    background: -moz-linear-gradient(135deg, #b8dae1, #ebf0eb, #fcfaee);
    background: linear-gradient(135deg, #b8dae1, #ebf0eb, #fcfaee);
}

.profile-info-section {
    margin-bottom: 20px;
}

.profile-info-section:last-child {
    margin-bottom: 0;
}

.profile-photo {
    background-color: #f2f5f8;
}
.profile-photo.have-photo {
    padding: 0.5rem;
    cursor: pointer;
}
.photo {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}
.profile-photo .photo {
    display: none;
}
.profile-photo.have-photo .photo {
    display: block;
}
.no-photo-text {
    color: #68acce;
}
.profile-photo.have-photo .upload-photo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}
.profile-photo .photo:hover {
    background-color: #e7eff7;
    text-decoration: none;
}
.profile-photo.have-photo:hover > .photo {
    opacity: 0.1;
}
.profile-photo.have-photo:hover > .upload-photo {
    opacity: 1;
}

.current-balance {
    padding: 10px 40px;
    background-color: #2ea998;
    font-size: 16px;
    color: #fff;
}
.total-paid {
    font-size: 16px;
    color: #2ea998;
}
.current-balance span,
.total-paid span {
    font-weight: 700;
}

.info-field {
    font-size: 16px;
}
.info-field div:first-child {
    font-weight: 700;
}

.profile-actions .btn {
    display: block;
    text-align: center;
    width: 100%;
}

/*Tabs on the profile page*/

.personal-data-navigation.nav-pills .nav-link {
    position: relative;
    padding: 0.5rem 2rem;
    border-radius: 0;
    border-bottom: 2px solid #dee3e7;
    color: #b9bfc6;
    font-size: 16px;
}
.personal-data-navigation.nav-pills .nav-link.active {
    background-color: transparent;
    border-color: #68acce;
    color: #65abd0;
}
