.promotions-list {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;

    padding-bottom: 2em;
}

.promotions-list__cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotions-list__card {
    max-width: 220px;

    background-color: #f1f5f7;
    border-radius: 6px;
    border: 1px solid #f1f5f7;

    margin-bottom: 1.5em;

    cursor: pointer;
}

.promotions-list__card-image-container {
    max-width: 220px;
}

.promotions-list__card-image {
    width: 100%;
    height: auto;

    padding: .5em;
}

.promotions-list__card-content-container {
    padding: .5em;
}

.promotions-list__card-name {
    font-size: 1rem;
    line-height: 1.4;
    color: #373737;

    padding-bottom: .5em;
}

.promotions-list__card-description {
    font-size: 1rem;
    line-height: 1.2;
    color: #757a7f;
}

.promotions-list__card-button-container {
    text-align: center;
    padding-bottom: .5em;
}

.promotions-list__card-show-all-container {
    text-align: center;
    padding-bottom: 2em;
    margin-top: -2em;
}

@media (min-width: 992px) {
    .promotions-list__cards-container {
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-between;
    }

    .promotions-list__card {
        flex: 1 0 220px;
        box-sizing: border-box;

        margin-right: .1em;
    }

    .promotions-list div:empty {
        height: 0;
        border: 0;
    }

    .promotions-list__card-show-all-container {
        text-align: right;
    }
}
