.request-form {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
    margin-bottom: 2em;
    padding: 2em 2em;

    background-color: #f2f5f7;
}

.request-form__container {
    display: flex;
    flex-direction: column;
}

.request-form__login-request {
    text-align: center;
}

.request-form__login-request > div {
    padding-bottom: .5em;
}

.request-form__dropdown, .request-form__dropdown:hover {
    background-color: #d8c171 !important;
}

.request-form__dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.request-form__dropdown-menu-item {
    background-color: #b6a362 !important;
    color: #fff;
}

.request-form__dropdown-menu-item:hover {
    background-color: #d8c171 !important;
    color: #fff;
}

.request-form__container input {
    max-width: 325px;
}

.request-form__comment {
    font-size: .9rem;
    color: #888d92;

    padding-top: .4em;
}

.request-form__comment p {
    margin: 0;
    max-width: 325px;
}

.request-form__calendar .react-calendar__tile--active,
.request-form__calendar .react-calendar__tile--active:enabled:hover,
.request-form__calendar .react-calendar__tile--active:enabled:focus {
    background-color: #24aa98;
    color: #fff;
}



.request-form__calendar .react-calendar__navigation__label:disabled {
    color: #fff;
    background-color: #24aa98;
}

.request-form__calendar .react-calendar__navigation__arrow {
    color: #fff;
    background-color: #24aa98;
}

.request-form__calendar .react-calendar__month-view__days__day--weekend {
    color: #000;
}

.request-form__calendar .react-calendar__month-view__days__day--neighboringMonth {
    color: #969696;
}

@media (min-width: 992px) {
    .request-form {
        width: 80%;
        border-radius: 6px;
    }

    .request-form__container {
        flex-direction: row;
    }

    .request-form__container div:first-child {
        width: 350px;
        padding-right: 2em;
    }

}
