.request-error {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
    margin-bottom: 2em;
    padding: 2em 2em;

    background-color: #f2f5f7;
}

@media (min-width: 992px) {
    .request-error {
        width: 80%;
        border-radius: 6px;
    }
}
