.payment-success {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
    margin-bottom: 2em;
    padding: 2em 2em;

    background-color: #f2f5f7;
}

.payment-success > div {
    padding: 1em 0;
}

@media (min-width: 992px) {
    .payment-success {
        width: 80%;
        border-radius: 6px;
    }
}
