.rides-list__ride--taken {
    color: #2ea998;
}

.rides-list__ride--in-progress {
    color: #ffc107;
}

.rides-list__ride--canceled {
    color: #dc3545;
}

.rides-list__ride-row--taken, .rides-list__ride-row--taken:hover {
    background-color: #eff4f2 !important;
}

.rides-list__ride-row--in-progress, .rides-list__ride-row--in-progress:hover {
    background-color: #f9f2e8 !important;
}

.rides-list__ride-row--canceled, .rides-list__ride-row--canceled:hover {
    background-color: #fdf2f2 !important;
}

.rides-list__more-info {
    font-size: 1rem;
    color: #68acce;
    text-decoration: underline;

    cursor: pointer;
}

.rides-list__more-info-cell {
    border-top: 2px solid transparent !important;
}

.rides-list__more-info-container {
    display: flex;
    flex-direction: row;


    padding-bottom: 2em;
}

.rides-list__more-info-content {
    padding-right: 2em;
}

.rides-list__more-info-content div {
    padding-bottom: .3em;
}

.rides-list__more-info-content div:last-child {
    padding-top: 1em;
}

.rides-list__more-info-actions textarea {
    width: 100%;
    height: 180px;

    margin-bottom: .5em;
}
