.promotion-details__container {
    background-color: #f2f5f8;
    padding: .5em;

    margin-bottom: 3em;
}

.promotion-details__image-container {
    max-width: 450px;
    padding-bottom: .5em;
}

.promotion-details__card-image {
    width: 100%;
    height: auto;
}

.promotion-details__promotion-text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;

    padding: 1rem 0;

    color: #373737;
}

.promotion-details__button-container {
    padding-bottom: .5em
}

@media (min-width: 992px) {
    .promotion-details__container {
        display: flex;
        flex-direction: row;
    }

    .promotion-details__image-container {
        flex-shrink: 0;
    }

    .promotion-details__content-container {
        padding: 2em;
        flex-grow: 1;
    }
}
