.payment-result__payment-details {
    max-width: 992px;
    margin: 0 auto;
}

.payment-result__payment-details__row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-result__payment-details__check-status,
.payment-result__payment-details__go-to-payments,
.payment-result__payment-details__row {
    width: 255px;
}

.payment-result__payment-details__check-status {
    margin-top: 10px;
}

.payment-result__payment-details__go-to-payments {
    margin: 10px 0 10px 0;
}