/*Table with the list of payments*/

.payments-table {
    font-size: 16px;
}
.payments-table tbody tr:hover {
    background-color: #f7f7f7;
}
.payments-table thead th {
    vertical-align: middle;
    border-top: none;
    border-color: #dee3e7;
    color: #b9bfc6;
    font-weight: 400;
}
.payments-table tbody td {
    vertical-align: middle;
    border-top: 2px solid #dee3e7;
}

.payments-table .payment-code-cell {
    color: #b9bfc6;
    text-transform: uppercase;
}
.payments-table .payment-date-cell {
    font-weight: 700;
}
.payments-table .payment-amount-cell {
    color: #2ea998;
    font-weight: 700;
}
.payments-table .payment-status-cell {
    text-align: center;
}
.payments-table .payment-status-cell i {
    cursor: pointer;
}
.payments-table .payment-status-cell--success {
    color: #2ea998;
}
.payments-table .payment-status-cell--error {
    color: #dc3545;
}
.payments-table .payment-status-cell--in-progress {
    color: #ffc107;
}
.payments-table .payment-status-cell--cancelled {
    color: #676767;
}
.payments-table .payment-status-cell--created {
    color: #0f67cc;
}

