.post-page__article {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
    padding: 2em 1em 0 1em;
}

.post-page__article-date:before {
    content: "\B7";
    padding-right: .4em;
}

.post-page__article-date:after {
    content: "\B7";
    padding-left: .4em;
}

.post-page__article-date {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 32px;
    color: rgb(180,187,194);
    font-weight: bold;
}

.post-page__article-content img {
    border-radius: 5px;
}

.post-page__article-content .full {
    width: 100%;
    height: auto;
}
