* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a {
    color: #3366ff;
    text-decoration: none;
    font-size: 14px;
    padding: 0;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
            transition: 0.3s;
}

.btn-link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;

    color: #0e4681;
    text-decoration: underline;

    padding: 0;
}

.btn-link:hover {
    cursor: pointer;
}

.btn-primary {
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    background-color: #65abd0;
    box-sizing: border-box;

    cursor: pointer;
}
.btn-primary:active,
.btn-primary:hover {
    background-color: #349ad0 !important;
}
.btn-primary:focus {
    box-shadow: 0 0 0 1px #349ad0;
}

.modal-custom input[type='radio'] {
    display: none;
}
.label-custom {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.label-custom:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #ced4da;
}
.label-custom:after {
    content: '';
    position: absolute;
    left: 3px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    background-color: #65abd0;
    border-radius: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
            transition: 0.3s;
}
.modal-custom input[type='radio']:checked + .label-custom:after {
    opacity: 1;
}

.modal-backdrop {
    background-color: #011824;
}
.modal-backdrop.show {
    opacity: 0.8;
}
.modal-custom .modal-content {
    background-color: #d5dadf;
    border: none;
}
.modal-custom .modal-header {
    border-bottom: none;
}
.modal-custom .modal-body {
    padding-top: 0;
    padding-right: 10%;
    padding-left: 10%;
}
.modal-custom .form-control {
    font-size: 14px;
}
.modal-wrap-title,
.modal-wrap-subtitle {
    font-size: 30px;
    color: #333;
}
.modal-wrap-subtitle {
    margin-bottom: 25px;
    font-size: 14px;
}
.modal-wrap-footertitle {
    color: #333;
    font-size: 14px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

.header {
    position: absolute;
    top: 15px;
    padding: 25px 0;
    background-color: #f2f5f8;
    z-index: 200;
    width: 100%;
}
.header-logo {
    display: block;
    image-rendering: -webkit-optimize-contrast;
}
.main-menu,
.sub-menu {
    margin-bottom: 0;
}
.main-menu li,
.sub-menu li {
    display: inline;
    margin: 0 5px;
}
.main-menu li a {
    color: #333;
    position: relative;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.main-menu li a:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    right: 50%;
    border-bottom: 2px solid #3366ff;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
            transition: 0.3s;
}
.main-menu li a:hover,
.header-login:hover {
    color: #3366ff;
}
.main-menu li a:hover:after {
    left: 20px;
    right: 20px;
}
.sub-menu li a {
    padding: 10px 20px;
    text-decoration: underline;
}

.intro {
    height: 85vh;
    background: url("./img/main-bg.jpg") no-repeat center;
    background-size: cover;
}

.icon {
    color: #3366ff;
}

.partners h2 {
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
}

#partners-slider .slick-list {
    margin: 0 -0.5rem;
}
.partners-item {
    padding: 50px 15px 20px;
    background-color: #f2f5f8;
    outline: none;
}
.partners-item-img {
    margin-bottom: 50px;
}
.partners-item-title {
    font-size: 18px;
    font-weight: 700;
}

.about-wrap {
    padding: 15px 15px;
    background-color: #f2f5f8;
}
.about-wrap-title {
    font-size: 16px;
    font-weight: 700;
}
.btn-custom {
    padding: 7px 20px;
    background-color: transparent;
    border: 2px solid #c6ccd2;
    color: #333;
    font-weight: 700;
}
.btn-custom:hover {
    background-color: #e3e9ef;
    color: #3366ff;
    text-decoration: none;
}
.about-bg {
    height: 100%;
    background-size: cover;
    background: url(./img/about-bg.jpg) no-repeat center top;
}
.about-title {
    margin-bottom: 15px;
    font-size: 30px;
}

.footer {
    background-color: #f2f5f8;
}
.footer-menu {
    margin-bottom: 0;
}
.footer-menu li,
.social-menu li {
    display: inline-block;
    margin-right: 30px;
}
.footer-menu li:last-child,
.social-menu li:last-child {
    margin-right: 0;
}
.footer-menu li a,
.social-menu li a {
    display: block;
    position: relative;
    padding: 10px 5px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-menu li a:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    right: 50%;
    border-bottom: 2px solid #3366ff;
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
            transition: 0.3s;
}
.footer-menu li a:hover,
.social-menu li a:hover,
.contacts a:hover {
    color: #3366ff;
}
.footer-menu li a:hover:after {
    left: 5px;
    right: 5px;
}
.organization {
    font-size: 16px;
    font-weight: 700;
}
.contacts a {
    display: block;
    color: #333;
    text-decoration: none;
}

/*Bootstrap 4 uses .show class instead of .in, but React Bootstrap still relies on .in class being available*/
.fade.in {
    opacity: 1;
}

/* Media Queries */

@media (min-width: 992px) {
    .modal-custom.modal-lg {
        max-width: 650px;
    }

    .modal-custom.modal-xl {
        max-width: 980px;
    }
}

@media (max-width: 767px) {
    .about-bg {
        height: 200px;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .footer-menu li {
        margin: 0;
    }
    .footer-menu li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-pills .nav-link-custom {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 360px) {
    .partners h2 {
        font-size: 20px;
    }
    .about-wrap-header {
        flex-direction: column !important;
        -ms-flex-direction: column !important;
        justify-content: center !important;
        -ms-flex-pack: center !important;
    }
    .about-wrap-title {
        margin-bottom: 10px;
    }
    .about-title {
        font-size: 25px;
    }
}
