.team {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;

    padding-top: 2em;

    display: flex;
    flex-direction: column;

    background-color: #FFF;
}

.team__header {
    text-align: center;
}

.team__cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 576px) {
    .team__cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.team__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem .25em;
}

@media (min-width: 992px) {
    .team__card {
        flex: 1 0 500px;
        box-sizing: border-box;
        max-width: calc(25% - 1em);
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .team__card {
        flex: 1 0 500px;
        box-sizing: border-box;
        max-width: calc(50% - 1em);
    }
}

.team__card-image {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.team__card-name {
    font-size: 1em;
    line-height: 2;
    color: #084483;
}

.team__card-role {
    font-size: .9em;
    line-height: 1;
    text-align: center;
}
