.promotions-page__promotions-title {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

    text-align: center;
    padding: 1em;
}

.promotions-page__promotions-container {
    display: flex;
    flex-direction: row;
}
