.page-header {
    background-color: #b7d9e1;
    padding: 3em;
    margin-bottom: 2em;
    padding-top: 160px;

    text-align: center;
}

.page-header__content {
    width: 100%;
    max-width: 992px;

    margin: 0 auto;
}

/* remove padding after the page title */
.page-header__content > :first-child {
    padding-bottom: 0;
}

/* add padding before the first subtitle */
.page-header__content > :nth-child(2) {
    padding-top: 1.5em;
}

.page-header--gradient {
    background-color: #b7d9e1;
    /* gradient from PSD file renders in a browser differently from the origignal design */
    /* background-image: linear-gradient(-35deg, #fbf9ed 0%, #ebefeb 50%, #b7d9e1 100%); */
    background-image: linear-gradient(-35deg, #fbf9ed 25%, #ebefeb 50%, #b7d9e1 85%);
}
